.list{
    list-style-type: none;
    height: 80px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(203, 248, 248);
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.jokes{
    font-size: 15px;
}